



{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9 col-xl-10">
    <div class="tab-content">
    <div class="tab-pane fade show active" id="account" role="tabpanel">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title mb-0">Private info</h5>
        </div>
        <div class="card-body">
            {{ form_start(Doctorform,{'attr':{'novalidate' : 'novalidate'}}) }}
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <i class="fa fa-user-md"> </i>

                            {{ form_label(Doctorform.nom,"nom : ") }}
                            {{ form_widget(Doctorform.nom)}}
                            {{ form_errors(Doctorform.nom)}}

                        </div>
                        <div class="mb-3">
                            <i class="fa fa-user-md">
                            {{ form_label(Doctorform.prenom,"prenom : ") }}
                            {{ form_widget(Doctorform.prenom)}}
                            {{ form_errors(Doctorform.prenom)}}
                            </i>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="text-center">
                            <img alt="Charles Hall" src="{{ asset('img/avatars/avatar.jpg') }}" class="rounded-circle img-responsive mt-2" width="128" height="128" />
                            <div class="mt-2">
                                <i class=" fa fa-picture-o">
                                {{ form_label(Doctorform.pic) }}
                                {{ form_widget(Doctorform.pic)}}
                                </i>

                            </div>

                        </div>
                    </div>
                </div>

        </div>
    </div>


    <div class="card">
                 <div class="card-header">

                 <h5 class="card-title mb-0">Private info</h5>
                 </div>
    <div class="card-body">
        <div class="row">
        <div class="col-md-8">
        <div class="mb-3">
            <i class="fa fa-envelope-o">

            {{ form_label(Doctorform.email,"email : ") }}
            {{ form_widget(Doctorform.email)}}
            {{ form_errors(Doctorform.email)}}
            </i>

        </div>
        <div class="mb-3">
            <i class="fa fa-phone">

            {{ form_label(Doctorform.num,"num : ") }}
            {{ form_widget(Doctorform.num)}}
            {{ form_errors(Doctorform.num)}}
            </i>
        </div>
        <div class="mb-3">
            {{ form_label(Doctorform.Specialite,"specialite : ") }}
            {{ form_widget(Doctorform.Specialite)}}
            {{ form_errors(Doctorform.Specialite)}}
        </div>
        </div>
    </div>
    </div>
    </div>
    <div>
        {{ form_widget(Doctorform.Envoyer)}}
        {{ form_widget(Doctorform.Annuler)}}
    </div>

    {{ form_end(Doctorform) }}
    </div>
    </div>
    </div>





{% endblock %}