

{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">


            <h5 class="card-title mb-0">Private info</h5>
        </div>



        {{ form_start(OPform,{'attr':{'novalidate' : 'novalidate'}}) }}

        {{ form_label(OPform.nom,"nom : ") }}
        {{ form_widget(OPform.nom)}}
        {{ form_errors(OPform.nom)}}

        {{ form_label(OPform.type,"Type : ") }}
        {{ form_widget(OPform.type)}}
        {{ form_errors(OPform.type)}}




        {{ form_label(OPform.duree,"durée : ") }}
        <br>
        {{ form_widget(OPform.duree)}}
        {{ form_errors(OPform.duree)}}
        <br>


        {{ form_label(OPform.tarif,"Tarif : ") }}
        <br>
        {{ form_widget(OPform.tarif)}}
        {{ form_errors(OPform.tarif)}}

        {{ form_label(OPform.medecin,"Nom medecin :") }}
        <br>
        {{ form_widget(OPform.medecin)}}
        {{ form_errors(OPform.medecin)}}






        {{ form_end(OPform) }}




    </div>
{% endblock %}
