
{% extends 'base.html.twig' %}
{% block body %}
    <div class="content mt-3">
    <div class="animated fadeIn">
    <div class="row">

    <div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <strong class="card-title">Table des Interventions</strong>
    </div>
    <div class="card-body">
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">

    <tr>
        <td>ID</td>
        <td>TYPE</td>
        <td>NOM</td>
        <td>DURATION</td>
        <td>TARIF</td>
        <td>DOCTOR</td>
        <td></td>
        <td></td>

    </tr>
    {%for op in listintervention %}
        <tr>
            <td>{{ op.id }}</td>
            <td>{{ op.type }}</td>
            <td>{{ op.nom }}</td>
            <td>{{ op.duree|date('h:i')}}H</td>
            <td>{{ op.tarif }}$</td>
            <td>{{ op.medecin}}</td>
            <td><a href="{{ path('deleteOP' ,{'id':op.id})}}" >Supprimer</a></td>
            <td><a href="{{ path('updateOP' ,{'id':op.id})}}" >Modifier</a></td>

        </tr>

    {% endfor %}
    </table>
    </div>
    </div>
    </div>


    </div>
    </div><!-- .animated -->
    </div>
{% endblock %}