{% extends 'base.html.twig' %}
{% block body %}

    <html>

    <style>
        .animateuse{
            animation: leelaanimate 2s infinite;
        }
        @keyframes leelaanimate{
            0%{color:red}
            10%{color:Grey}
            20%{color:whitesmoke}
        }</style>


    <form method="post" action="{{ path ('recherche1') }}">
        <label>Rechercher</label>
        <input type="text" name="search"><input type="submit" value="Recherche">
    </form>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">

                            <strong class="card-title"><h1 class="text-center   text-uppercase animateuse">Liste des cliniques !</h1></strong>
                        </div>

                        <div class="card-body">

                                <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <tr>
                                <tr>


                                    <td>Nom</td>
                                    <td>Adresse</td>
                                    <td>Numéro Téléphone</td>
                                        <td>Spécialité</td>

                                        <td>Email</td>
                                    <td>Image</td>
                                    <td></td>
                                    <td></td>



                                </tr>
                                <tbody>
                                {% for clinique in clinique %}
                                    <tr>

                                        <td>{{clinique.nom}}</td>
                                        <td>{{clinique.adresse}}</td>
                                        <td>{{clinique.tel}}</td>
                                        <td>{{clinique.specialite}}</td>
                                        <td>{{clinique.email}}</td>
                                        <td><img src="{{asset("uploads/"~clinique.image)}}" height="80px" width="80px"></td>
                                        <td><a href="{{ path('updateclinique',{'id':clinique.id}) }}"><button type="button" class="btn btn-outline-success" data-dismiss="modal">Modifier</button></a></td>
                                        <td><a href="{{ path('dropclinique' ,{'id':clinique.id})}}" ><button type="button" class="btn btn-outline-danger" data-dismiss="modal">Supprimer</button></a></td>


                                    </tr>

                                    <script>
                                        $(document).ready(function(){
                                            $('#search').keyup(function(){
                                                search_table($(this).val());
                                            });
                                            function search_table(value){
                                                $('#tableac tbody tr').each(function(){
                                                    var found = 'false';
                                                    $(this).each(function(){
                                                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                        {
                                                            found = 'true';
                                                        }
                                                    });
                                                    if(found == 'true')
                                                    {
                                                        $(this).show();

                                                    }
                                                    else
                                                    {
                                                        $(this).hide();

                                                    }
                                                });
                                            }
                                        });
                                    </script>
                                {%endfor%}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


    </div><!-- /#right-panel -->

    </html>

{% endblock %}
