{% extends 'base.html.twig' %}
{% block body %}

    <html>
    <style>
        .animateuse{
            animation: leelaanimate 2s infinite;
        }
        @keyframes leelaanimate{
            0%{color:red}
            10%{color:Grey}
            20%{color:whitesmoke}
        }</style>
    <script src="{{ asset('js/recherche.min.js') }}"></script>
    <input type="text" class="form-control" placeholder="CHERCHER OFFRE..." aria-label="Search" id="search">

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"><h1 class="text-center   text-uppercase animateuse">Liste des Offres !</h1></strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <tr>

                                    <td>Nom Médecin</td>
                                    <td>Nom Clinique</td>
                                    <td>Nom Intervention</td>
                                    <td>Date Expiration</td>
                                    <td>Prix</td>
                                    <td></td>
                                    <td></td>



                                </tr>
                                <tbody>
                                {% for offre in offre %}
                                    <tr>

                                        <td>{{offre.medecin}}</td>
                                        <td>{{offre.clinique}}</td>
                                        <td>{{offre.intervention}}</td>
                                        <td>{{offre.date|date('Y-m-d')}}</td>
                                        <td>{{offre.prix}}</td>

                                        <td><a href="{{ path('updateoffre',{'id':offre.id}) }}"><button type="button" class="btn btn-outline-success" data-dismiss="modal">Modifier</button></a></td>
                                        <td><a href="{{ path('dropoffre',{'id':offre.id}) }}" ><button type="button" class="btn btn-outline-danger" data-dismiss="modal">Supprimer</button></a></td>



                                    </tr>

                                    <script>
                                        $(document).ready(function(){
                                            $('#search').keyup(function(){
                                                search_table($(this).val());
                                            });
                                            function search_table(value){
                                                $('#tableac tbody tr').each(function(){
                                                    var found = 'false';
                                                    $(this).each(function(){
                                                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                        {
                                                            found = 'true';
                                                        }
                                                    });
                                                    if(found == 'true')
                                                    {
                                                        $(this).show();

                                                    }
                                                    else
                                                    {
                                                        $(this).hide();

                                                    }
                                                });
                                            }
                                        });
                                    </script>
                                {%endfor%}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
    <tr><td><a href="{{ path('listimprimer') }}"><button type="button" class="btn btn-outline-primary" data-dismiss="modal">Imprimer</button></a></td></tr>

    </div><!-- /#right-panel -->
    </html>
{% endblock %}
